* {
  overflow: hidden;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./Assets/Fonts/Minecraft.ttf') format('truetype');
}

@font-face {
  font-family: 'KenneyPixel';
  src: url('./Assets/Fonts/KenneyPixel.ttf') format('truetype');
}
